<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Map monde du Live</title>
    </head>
    <body>

        <div id="map-monde"></div>

        <script src="http://openlayers.org/api/OpenLayers.js"></script>
        <script src="{{url_for('static', filename='js/vendor/socket.io.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/communication-iosocket.js')}}"></script>
        <script src="{{url_for('static', filename='js/main-map.js')}}"></script>
        <script>var user_id = 2</script>
    </body>
</html>
